<div id="welcome" style="border-top: 1px solid #aaa;">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid">
    <div class="page-container">
      <div class="left-sidepanel">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action active">Home</a>
          <a href="/admin/upload-esg-data" class="list-group-item list-group-item-action">Upload ESG Data</a>
          <a href="/admin/upload-history" class="list-group-item list-group-item-action">Upload History</a>
          <a href="/admin/manage-employee" class="list-group-item list-group-item-action disabled">Manage Employee</a>
          <a href="/admin/manage-coins" class="list-group-item list-group-item-action disabled">Manage Coins</a>
          <a href="/admin/manage-events" class="list-group-item list-group-item-action disabled">Manage Events</a>
        </div>
      </div>
      <div class="main-content">
        <div class="text-center mt-3">
          <h1>ESG Dashboards</h1>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
