<div id="welcome" style="border-top: 1px solid #aaa;">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid">
    <div class="page-container">
      <div class="left-sidepanel">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action active">Home</a>
          <a href="/admin/submit-esg-data" class="list-group-item list-group-item-action">Submit ESG Data</a>
          <a href="/admin/submit-history" class="list-group-item list-group-item-action">Submit History</a>
          <span href="/admin/manage-employee" class="list-group-item list-group-item-action disabled">Manage Employee</span>
          <span href="/admin/manage-coins" class="list-group-item list-group-item-action disabled">Manage Coins</span>
          <span href="/admin/manage-events" class="list-group-item list-group-item-action disabled">Manage Events</span>
        </div>
      </div>
      <div class="main-content">
        <div class="text-center mt-3">
          <h1>ESG Dashboards</h1>
          <hr/>
        </div>
        <div class="container">
          <div class="row">
            <div class="offset-md-1 col-md-4">
              <div class="card card-dashboard-summary">
                <div class="card-body p-2 text-center">
                  <h5 class="card-title">Hazardous Waste Intensity</h5>
                  <div class="data-index">
                    12.3
                  </div>
                  <div class="mt-2 data-index-desc below">
                    34% below average
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-md-1 col-md-4">
              <div class="card card-dashboard-summary">
                <div class="card-body p-2 text-center">
                  <h5 class="card-title">Non-Hazardous Waste Intensity</h5>
                  <div class="data-index">
                    20.0
                  </div>
                  <div class="mt-2 data-index-desc above">
                    12% above average
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
