<div id="login" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <div style="max-width: 900px; margin-top: 200px;" class="mx-auto">
      <ajax-form action="login" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="row">
          <div class="col-md-3 text-right">
            <label for="emailAddress" class="mt-1">Company Email:</label>
          </div>
          <div class="col-md-5">
            <div class="form-group" v-if="!isOTPRequested">
              <input type="email" class="form-control" placeholder="Email address" :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" autocomplete="email" focus-first>
              <div class="invalid-feedback" v-if="formErrors.emailAddress">Please provide a valid email address.</div>
            </div>
            <div v-else>
              <div class="mt-1">{{formData.emailAddress}}</div>
            </div>
          </div>
          <div class="col-md-3" v-if="!isOTPRequested">
            <button type="button" class="btn btn-outline-dark" @click="sendOTP()">Request OTP</button>
          </div>
        </div>
        <div class="row" v-if="isOTPRequested">
          <div class="col-md-3 text-right">
            <label for="password" class="mt-1">One Time Passcode:</label>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" autocomplete="current-password">
              <div class="invalid-feedback" v-if="formErrors.password">Please provide the correct OTP.</div>
            </div>
          </div>
        </div>
        <div class="row" v-if="isOTPRequested">
          <div class="offset-md-3 col-md-9">
            <div class="form-group">
              <ajax-button :syncing="syncing" class="btn btn-outline-dark" style="width: 250px;">Confirm</ajax-button>
              <button type="button" class="btn btn-outline-dark" @click="sendOTP()" style="width: 150px;">Resend OTP</button>
              <button type="button" class="btn btn-outline-dark" @click="changeEmail()" style="width: 150px;">Change Email</button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="invalid-feedback" v-if="formErrors.password">Please enter your password.</div>
        </div>
        <cloud-error v-if="cloudError==='badCombo'">The credentials you entered are not associated with an account. Please check your email and/or OTP and try again.</cloud-error>
        <cloud-error v-else-if="cloudError"></cloud-error>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
