.tooltipLink {
  color: red;
  font-weight: bold;
}

.tooltipInner {
  max-width: 800px;
  padding: 0.4rem !important;
  color: #fff;
  text-align: center;
  background-color: rgb(2, 66, 24);
  border-radius: 0.2rem;
  font-size: small;
  text-align: justify;
  text-justify: inter-word;


  // p {
  //   // text-indent: 2em
  // }
}