<div id="submit-history" style="border-top: 1px solid #aaa;" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid">
    <div class="page-container">
      <div class="left-sidepanel">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action">Home</a>
          <a href="/admin/submit-esg-data" class="list-group-item list-group-item-action">Submit ESG Data</a>
          <a href="/admin/submit-history" class="list-group-item list-group-item-action active">Submit History</a>
          <span href="/admin/manage-employee" class="list-group-item list-group-item-action disabled">Manage Employee</span>
          <span href="/admin/manage-coins" class="list-group-item list-group-item-action disabled">Manage Coins</span>
          <span href="/admin/manage-events" class="list-group-item list-group-item-action disabled">Manage Events</span>
        </div>
      </div>
      <div class="main-content">
        <div class="text-center mt-3">
          <h1>ESG Submission History</h1>
          <hr/>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
