<div id="submit-esg-data" style="border-top: 1px solid #aaa;" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid">
    <div class="page-container">
      <div class="left-sidepanel">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action">Home</a>
          <a href="/admin/submit-esg-data" class="list-group-item list-group-item-action active">Submit ESG Data</a>
          <a href="/admin/submit-history" class="list-group-item list-group-item-action">Submit History</a>
          <span href="/admin/manage-employee" class="list-group-item list-group-item-action disabled">Manage Employee</span>
          <span href="/admin/manage-coins" class="list-group-item list-group-item-action disabled">Manage Coins</span>
          <span href="/admin/manage-events" class="list-group-item list-group-item-action disabled">Manage Events</span>
        </div>
      </div>
      <div class="main-content">
        <div class="text-center mt-3">
          <h1>Upload ESG Data</h1>
          <hr/>
        </div>
        <div class="container mb-3">
          <div class="row">
            <h4>Company Info</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="yearOfRecord">Year of Record</label>
                <input class="form-control" name="yearOfRecord" type="number" :class="[formErrors.yearOfRecord ? 'is-invalid' : '']"
                       v-model.trim="formData.yearOfRecord" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.yearOfRecord">Input a valid Year of Record</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="projectType">Project Type</label>
                <select class="form-control" name="projectType" type="text" :class="[formErrors.projectType ? 'is-invalid' : '']"
                        v-model.trim="formData.projectType">
                  <option value=""></option>
                  <option value="building">Building</option>
                  <option value="civil">Civil</option>
                  <option value="piling&Foundation">Piling and Foundation</option>
                  <option value="buildingRMAA">Building RMAA</option>
                  <option value="civilR&M">Civil R&M</option>
                </select>
                <div class="invalid-feedback" v-if="formErrors.projectType">Input a valid Project Type</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="grossValueOfContructionWork">Gross value of construction work</label>
                <input class="form-control" name="grossValueOfContructionWork" type="number" :class="[formErrors.grossValueOfContructionWork ? 'is-invalid' : '']"
                       v-model.trim="formData.grossValueOfContructionWork" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.grossValueOfContructionWork">Input a valid Gross value of construction work</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="noOfProjects">No of projects</label>
                <input class="form-control" name="noOfProjects" type="number" :class="[formErrors.noOfProjects ? 'is-invalid' : '']"
                       v-model.trim="formData.noOfProjects" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.noOfProjects">Input a valid No of projects</div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="employmentSize">Employment Size</label>
                <input class="form-control" name="employmentSize" type="number" :class="[formErrors.employmentSize ? 'is-invalid' : '']"
                       v-model.trim="formData.employmentSize" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.employmentSize">Input a valid Employment Size</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="companySize">Company Size</label>
                <select class="form-control" name="companySize" type="text" :class="[formErrors.companySize ? 'is-invalid' : '']"
                        v-model.trim="formData.companySize">
                  <option value=""></option>
                  <option value="groupA">Group A</option>
                  <option value="groupB">Group B</option>
                  <option value="groupC">Group C</option>
                </select>
                <div class="invalid-feedback" v-if="formErrors.companySize">Input a valid Company Size</div>
              </div>
            </div>
          </div>
        </div>
        <hr/>

        <div class="container mb-3">
          <div class="row">
            <h4>Energy Consumption</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="petrolUsage">Petrol Usage</label>
                <input class="form-control" name="petrolUsage" type="number" :class="[formErrors.petrolUsage ? 'is-invalid' : '']"
                       v-model.trim="formData.petrolUsage" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.petrolUsage">Input a valid Petrol Usage</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="dieselUsage">Diesel Usage</label>
                <input class="form-control" name="dieselUsage" type="number" :class="[formErrors.dieselUsage ? 'is-invalid' : '']"
                       v-model.trim="formData.dieselUsage" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.dieselUsage">Input a valid Diesel Usage</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="biodieselUsage">Biodiesel Usage</label>
                <input class="form-control" name="biodieselUsage" type="number" :class="[formErrors.biodieselUsage ? 'is-invalid' : '']"
                       v-model.trim="formData.biodieselUsage" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.biodieselUsage">Input a valid Biodiesel Usage</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="amountOfElectricityHKE">Amount of electricity (HKE)</label>
                <input class="form-control" name="amountOfElectricityHKE" type="number" :class="[formErrors.amountOfElectricityHKE ? 'is-invalid' : '']"
                       v-model.trim="formData.amountOfElectricityHKE" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.amountOfElectricityHKE">Input a valid Amount of electricity (HKE)</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="amountOfElectricityCLP">Amount of electricity (CLP)</label>
                <input class="form-control" name="amountOfElectricityCLP" type="number" :class="[formErrors.amountOfElectricityCLP ? 'is-invalid' : '']"
                       v-model.trim="formData.amountOfElectricityCLP" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.amountOfElectricityCLP">Input a valid Amount of electricity (CLP)</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="noOfProjectsUsingRenewEnergy">No of projects using renewable energy</label>
                <input class="form-control" name="noOfProjectsUsingRenewEnergy" type="number" :class="[formErrors.noOfProjectsUsingRenewEnergy ? 'is-invalid' : '']"
                       v-model.trim="formData.noOfProjectsUsingRenewEnergy" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.noOfProjectsUsingRenewEnergy">Input a valid No of projects using renewable energy</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="noOfProjectsUsingElectricVehicle">No of projects using electric vehicle or construction plant</label>
                <input class="form-control" name="noOfProjectsUsingElectricVehicle" type="number" :class="[formErrors.noOfProjectsUsingElectricVehicle ? 'is-invalid' : '']"
                       v-model.trim="formData.noOfProjectsUsingElectricVehicle" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.noOfProjectsUsingElectricVehicle">Input a valid No of projects using electric vehicle or construction plant</div>
              </div>
            </div>
          </div>
        </div>
        <hr/>

        <div class="container mb-3">
          <div class="row">
            <h4>Water Consumption</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="waterConsumption">Annual Water Consumption<br/>&nbsp;</label>
                <input class="form-control" name="waterConsumption" type="number" :class="[formErrors.waterConsumption ? 'is-invalid' : '']"
                       v-model.trim="formData.waterConsumption" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.waterConsumption">Input a valid Annual Water Consumption</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="noOfProjectsUsingRecoveredWater">No of project using recovered water</label>
                <input class="form-control" name="noOfProjectsUsingRecoveredWater" type="number" :class="[formErrors.noOfProjectsUsingRecoveredWater ? 'is-invalid' : '']"
                       v-model.trim="formData.noOfProjectsUsingRecoveredWater" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.noOfProjectsUsingRecoveredWater">Input a valid No of project using recovered water</div>
              </div>
            </div>
          </div>
        </div>
        <hr/>

        <div class="container mb-3">
          <div class="row">
            <h4>Non-hazardous Waste Produced</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="weightInertWasteDisposed">Total weight of inert waste disposed</label>
                <input class="form-control" name="weightInertWasteDisposed" type="number" :class="[formErrors.weightInertWasteDisposed ? 'is-invalid' : '']"
                       v-model.trim="formData.weightInertWasteDisposed" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.weightInertWasteDisposed">Input a valid Total weight of inert waste disposed</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="weightNonInertWasteDisposed">Total weight of non-inert waste disposed</label>
                <input class="form-control" name="weightNonInertWasteDisposed" type="number" :class="[formErrors.weightNonInertWasteDisposed ? 'is-invalid' : '']"
                       v-model.trim="formData.weightNonInertWasteDisposed" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.weightNonInertWasteDisposed">Input a valid Total weight of non-inert waste disposed</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="weightMixedWasteDisposed">Total weight of mixed waste disposed</label>
                <input class="form-control" name="weightMixedWasteDisposed" type="number" :class="[formErrors.weightMixedWasteDisposed ? 'is-invalid' : '']"
                       v-model.trim="formData.weightMixedWasteDisposed" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.weightMixedWasteDisposed">Input a valid Total weight of mixed waste disposed</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="weightWasteBeingReused">Total weight of waste materials being reused</label>
                <input class="form-control" name="weightWasteBeingReused" type="number" :class="[formErrors.weightWasteBeingReused ? 'is-invalid' : '']"
                       v-model.trim="formData.weightWasteBeingReused" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.weightWasteBeingReused">Input a valid Total weight of waste materials being reused</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="weightHazardWasteDisposed">Total weight of hazardous waste disposed</label>
                <input class="form-control" name="weightHazardWasteDisposed" type="number" :class="[formErrors.weightHazardWasteDisposed ? 'is-invalid' : '']"
                       v-model.trim="formData.weightHazardWasteDisposed" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.weightHazardWasteDisposed">Input a valid Total weight of hazardous waste disposed</div>
              </div>
            </div>
          </div>
        </div>
        <hr/>

        <div class="container mb-3">
          <div class="row">
            <h4>Health and Safety</h4>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="noOfIndustrialAccidents">No of Industrial Accidents</label>
                <input class="form-control" name="noOfIndustrialAccidents" type="number" :class="[formErrors.noOfIndustrialAccidents ? 'is-invalid' : '']"
                       v-model.trim="formData.noOfIndustrialAccidents" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.noOfIndustrialAccidents">Input a valid No of Industrial Accidents</div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="noOfOccupationalIncident">No of occupational Incident</label>
                <input class="form-control" name="noOfOccupationalIncident" type="number" :class="[formErrors.noOfOccupationalIncident ? 'is-invalid' : '']"
                       v-model.trim="formData.noOfOccupationalIncident" placeholder="">
                <div class="invalid-feedback" v-if="formErrors.noOfOccupationalIncident">Input a valid No of occupational Incident</div>
              </div>
            </div>
          </div>
        </div>
        <hr/>

        <div class="container mb-3">
          <div class="row">
            <div class="offset-md-9 col-md-3">
              <button type="button" class="btn btn-block btn-outline-dark" @click="submitData()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
