<div id="upload-esg-data" style="border-top: 1px solid #aaa;">
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid">
    <div class="page-container">
      <div class="left-sidepanel">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action">Home</a>
          <a href="/admin/upload-esg-data" class="list-group-item list-group-item-action active">Upload ESG Data</a>
          <a href="/admin/view-esg-data" class="list-group-item list-group-item-action">View ESG Data</a>
          <a href="/admin/manage-employee" class="list-group-item list-group-item-action disabled">Manage Employee</a>
          <a href="/admin/manage-coins" class="list-group-item list-group-item-action disabled">Manage Coins</a>
          <a href="/admin/manage-events" class="list-group-item list-group-item-action disabled">Manage Events</a>
        </div>
      </div>
      <div class="main-content">
        <div class="text-center mt-3">
          <h1>Upload ESG Data</h1>
          <hr/>
        </div>
        <div class="row mt-5">
          <div class="offset-md-2 col-md-9">
            <button class="btn btn-outline-dark">Download</button> <span>the template first for uploading the ESG Data</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="mt-2 text-right">Select File:</div>
          </div>
          <div class="col-md-9">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="esgDataDocument">
              <label class="custom-file-label" for="esgDataDocument">Choose file</label>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="mt-2 text-right">Description:</div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <input type="text" class="form-control" id="description" placeholder="Description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-2 col-md-9">
            <button class="btn btn-dark" style="width: 250px;">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
