<div id="upload-esg-data" style="border-top: 1px solid #aaa;" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container-fluid">
    <div class="page-container">
      <div class="left-sidepanel">
        <div class="list-group">
          <a href="/" class="list-group-item list-group-item-action">Home</a>
          <a href="/admin/submit-esg-data" class="list-group-item list-group-item-action active">Submit ESG Data</a>
          <a href="/admin/submit-history" class="list-group-item list-group-item-action">Submit History</a>
          <span href="/admin/manage-employee" class="list-group-item list-group-item-action disabled">Manage Employee</span>
          <span href="/admin/manage-coins" class="list-group-item list-group-item-action disabled">Manage Coins</span>
          <span href="/admin/manage-events" class="list-group-item list-group-item-action disabled">Manage Events</span>
        </div>
      </div>
      <div class="main-content">
        <div class="text-center mt-3">
          <h1>Upload ESG Data</h1>
          <hr/>
        </div>
        <div class="row mt-5">
          <div class="offset-md-2 col-md-9">
            <a class="btn btn-outline-dark" href="/downloads/ESG_Data_Template_v0.1.xlsx">Download</a> <span>the template first for uploading the ESG Data</span>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="mt-2 text-right">Select File:</div>
          </div>
          <div class="col-md-9">
            <div class="custom-file" :style="browsedFilename ?'display: none;' : ''">
              <input type="file" class="custom-file-input" id="esgDataDocument" ref="esgDataDocument" v-on:change="onChangeEsgDataDocument">
              <label class="custom-file-label" for="esgDataDocument">Choose file</label>
            </div>
            <div class="mt-2" v-if="browsedFilename">{{browsedFilename}} <button type="button" class="btn btn-sm btn-outline-dark ml-2" @click="removeBrowsedFile()">Remove</button></div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-2">
            <div class="mt-2 text-right">Description:</div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <input type="text" class="form-control" id="description" placeholder="Description" v-model.trim="formData.description">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offset-md-2 col-md-9">
            <button class="btn btn-dark" style="width: 250px;" @click="upload()" :disabled="!browsedFilename || !formData.description">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
